<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.neus.lamp-bible</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lampbible</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>accord</string>
		<string>youversion</string>
		<string>logosres</string>
		<string>e-sword</string>
		<string>olivetree</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>lampsplash</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lamp Bible File</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.neus.lamp-bible.lamp</string>
			</array>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Lamp Bible File</string>
			<key>UTTypeIconFiles</key>
			<array>
				<string>LampFileIcon</string>
			</array>
			<key>UTTypeIdentifier</key>
			<string>com.neus.lamp-bible.lamp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>lamp</string>
				</array>
				<key>public.mime-type</key>
				<string>application/octet-stream</string>
			</dict>
		</dict>
	</array>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.neus.lamp-bible</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
			<key>NSUbiquitousContainerName</key>
			<string>Lamp Bible</string>
		</dict>
	</dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>Lamp Bible needs microphone access to record audio notes and devotional reflections.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Lamp Bible needs photo library access to add images to your notes and devotionals.</string>
	<key>NSCameraUsageDescription</key>
	<string>Lamp Bible needs camera access to take photos for your notes and devotionals.</string>
</dict>
</plist>
